.button {
  background: #f4ce14;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  background-color: #f4ce14;
  color: #495e57;
  border: 0.1875rem solid #f4ce14;
  font-size: 1em;
  font-weight: 700;
}

.button:active {
  background-color: #495e57;
  color: white;
}
